<%= form_for(:session, url: login_path, :html => {:class => 'form'}) do |f| %>
  <%= f.label :email, class: "form__label" %>
  <%= f.email_field :email, class: "form__input" %>

  <%= f.label :password, class: "form__label" %>
  <%= f.password_field :password, id: "form__password", class: "form__input" %>

  <div class="form__group">
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span class="form__label--checkbox">Remember me</span>
    <% end %>

    <div class="password-toggle form__link form__link--secondary link">Show password</div>
  </div>

  <%= f.submit "Sign in", class: "button button--primary" %>
  <a href="" class="link link--secondary">Forgot password?</a>
  <div class="form__divider"></div>
  <p class="form__text">Don't have an account? <a href="<%= register_path %>" class="form__link form__link--primary link">Sign up</a></p>
<% end %>
