<p id="notice"><%= notice %></p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Gatherable:</strong>
  <%= @event.gatherable_id %>
</p>

<p>
  <strong>Gatherable type:</strong>
  <%= @event.gatherable_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
