<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/kum8wap.css">
    <script src="https://kit.fontawesome.com/214636d437.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="app-container">
      <header class="header">
        <%= render 'layouts/header' %>
      </header>
      <main class="main content-container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <!--
        <div class="debug">
          <%= debug(params) if Rails.env.development? %>
          <%= debug(session[:forwarding_url]) if Rails.env.development? %>
        </div>
        -->
      </main>
      <footer class="footer content-container">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
    <%= javascript_pack_tag 'core', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
